.THIS .uiInput--input.input {
    min-height: 0px !important;
}

.THIS .slds-align_middle {
    padding-top: 20px !important;
}

.THIS .slds-text-color_blue {
    color: #0C8EFF !important;
    font-weight: bold;
}

.THIS .slds-text-color_red {
    color: #C23934 !important;
    font-weight: bold;
}