.THIS .slds-align-middle {
    padding-top: 20px !important;
}

.THIS .uiInput--input.input {
    min-height: calc(1.125rem + 2px) !important;
}

.THIS .disclaimer {
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: 1%;
    font-weight: 600;
}

.THIS .disclaimer p {
    text-align: center;
}


.THIS .visa {
    background-image: url("/resource/Ebiz_C__visaImage");
    background-repeat: no-repeat, repeat;
    
}

.THIS .master {
    background-image: url("/resource/Ebiz_C__MasterCardImage");
    background-repeat: no-repeat, repeat;
    
}

.THIS .american {
    background-image: url("/resource/Ebiz_C__AmericanExpressImage");
    background-repeat: no-repeat, repeat;
    
}

.THIS .discover {
    background-image: url("/resource/Ebiz_C__DiscoverImage");
    background-repeat: no-repeat, repeat;
    
}

.THIS .ach {
    background-image: url("/resource/Ebiz_C__CheckHomeImage");
    background-repeat: no-repeat, repeat;
    
}