.THIS .slds-icon-custom-custom17 {
    background-color: #4BCA81 !important;
}

.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background-color: #fff
}

.THIS .inputFieldWidth {
    width: 80%;
}

.THIS .slds-item_label {
    width: 60% !important;
    line-height: 25px !important;
}

.THIS .slds-item_detail {
    width: 40% !important;
    text-align: right !important;
    line-height: 25px !important;
}

.THIS .slds-custom {
    font-size: 20px !important;
    margin: 90px 0 20px 0 !important;
}

.THIS .slds-cstbtn {
    width: 100% !important;
}

.THIS hr {
    margin: var(--lwc-spacingmedium, 0.7rem) 0 !important;
}